<article class="flex flex-col items-center gap-7">
  <app-money-card
    class="block w-fit"
    [balance]="balance"
    [firstName]="userProfile.firstName"
    [account]="userProfile.accounts[0]"
  ></app-money-card>
  <h2
    class="text-lg lg:text-2xl font-bold text-bank-primary-2 mb-3 text-center"
  >
    Detalle de tu cuenta
  </h2>
  <section
    class="flex flex-col rounded-2xl bg-white shadow-lg shadow-bank-primary-3/15 w-11/12 h-auto p-4 lg:p-6 gap-4"
  >
    <p class="text-base font-bold text-bank-black text-center">
      {{ userProfile.firstName }} {{ userProfile.lastName }}
    </p>
    <div class="flex flex-row justify-between border-b-2 pb-3">
      <p class="text-base font-bold text-bank-black/70">Número de cuenta</p>
      <p class="text-base font-bold text-bank-black">
        {{ userProfile.accounts[0] }}
      </p>
    </div>
    <div class="flex flex-row justify-between border-b-2 pb-3">
      <p class="text-base font-bold text-bank-black/70">Válido hasta</p>
      <p class="text-base font-bold text-bank-black">Diciembre de 2027</p>
    </div>
  </section>
</article>
