<article
  class="w-64 h-44 xl:w-[350px] xl:h-60 rounded-3xl bg-gradient-to-r from-sky-500 to-indigo-500"
>
  <section
    class="flex flex-row gap-5 xl:gap-9 pt-5 pb-4 px-5 xl:pt-6 xl:pb-4 xl:px-6 justify-between"
  >
    <div class="flex flex-col items-start gap-5 xl:gap-8">
      <div class="flex flex-col text-white">
        <p class="text-[10px] xl:text-xs font-normal">Balance</p>
        <p class="text-sm xl:text-xl font-semibold">
          $ {{ balance | number : "1.1-2" }}
        </p>
      </div>
      <div class="flex flex-row gap-10 xl:gap-[72px] text-white">
        <div class="flex flex-col gap-1">
          <p class="uppercase text-[10px] xl:text-xs text-white/70">
            Propietario
          </p>
          <p class="text-sm xl:text-base font-bold">
            {{ firstName }}
          </p>
        </div>
        <div class="flex flex-col gap-1">
          <p class="uppercase text-[10px] xl:text-xs text-white/70">Válido</p>
          <p class="text-sm xl:text-base font-bold">12/27</p>
        </div>
      </div>
    </div>
    <figure>
      <img [src]="urlChipMoneyCard" alt="chip-card-icon" />
    </figure>
  </section>
  <section
    class="flex flex-row gap-8 xl:gap-16 py-2 px-5 xl:py-6 xl:px-6 justify-between border-t"
  >
    <span class="text-base xl:text-xl font-semibold text-white">
      {{ account | hideAccount }}
    </span>
    <figure>
      <img [src]="urlMastercard" alt="mastercard-card-icon" />
    </figure>
  </section>
</article>
