<header
  class="w-4/5 flex items-center justify-between h-24 py-5 px-9 border-b border-b-slate-300"
>
  <h1 class="text-bank-primary-2 text-3xl font-semibold">Overview</h1>
  <article class="flex justify-end items-center gap-7">
    <nav class="flex items-center justify-between">
      <ul>
        <li>
          <a [routerLink]="['/']">
            <img src="/assets/icons/settings.svg" alt="settings" />
          </a>
        </li>
      </ul>
    </nav>
    <div
      class="w-[50px] h-[50px] border border-slate-300 bg-slate-300 rounded-full flex items-center justify-center"
    >
      <span class="text-2xl font-semibold">W</span>
    </div>
  </article>
</header>
