<article
  class="flex flex-row gap-3 lg:hidden w-80 h-16 rounded-2xl bg-white py-3 px-5 active:bg-bank-primary-3/10 transition-colors relative"
>
  <a
    class="absolute w-full h-full inset-0"
    [routerLink]="['/transactions', id]"
  ></a>
  <figure
    class="rounded-full border-2 border-[#718EBF] w-9 h-9 flex justify-center items-center"
  >
    <img
      class="w-3 h-3"
      [class.rotate-180]="titleTransaction === 'Withdrawal'"
      [src]="srcArrowTransaction"
      alt=""
    />
  </figure>
  <section class="grow flex flex-col">
    <p class="font-semibold text-sm text-bank-black">{{ titleTransaction }}</p>
    <p class="font-medium text-xs text-bank-primary-2">
      {{ dateTransaction | date }}
    </p>
  </section>
  <section class="flex items-center">
    <span
      class="font-medium text-sm"
      [ngClass]="
        titleTransaction == 'Withdrawal' ? 'text-[#FE5C73]' : 'text-[#16DBAA]'
      "
    >
      {{ valueTransaction }}
    </span>
  </section>
  <section class="flex items-center">
    <a
      class="font-medium text-xs text-bank-primary-2"
      [routerLink]="['/transactions', id]"
    >
      Ver
    </a>
  </section>
</article>

<article
  class="hidden lg:flex lg:flex-row lg:gap-4 lg:w-full lg:h-16 lg:rounded-3xl lg:bg-white lg:py-3 lg:px-8 lg:hover:bg-bank-primary-3/10 lg:transition-colors lg:relative"
  [ngClass]="{
    'lg:hover:bg-bank-primary-3/10 lg:transition-colors': withHover === true
  }"
>
  <a
    class="absolute w-full h-full inset-0"
    [routerLink]="['/transactions', id]"
  ></a>
  <figure
    class="rounded-full border-2 border-[#718EBF] w-9 h-9 flex justify-center items-center"
  >
    <img
      class="w-3 h-3"
      [class.rotate-180]="titleTransaction === 'Withdrawal'"
      [src]="srcArrowTransaction"
      alt=""
    />
  </figure>
  <section class="grow flex flex-col">
    <p class="font-medium text-base text-bank-black">{{ titleTransaction }}</p>
    <p class="font-medium text-sm text-bank-primary-2">
      {{ dateTransaction | date }}
    </p>
  </section>
  <section class="lg:hidden xl:flex items-center">
    <span class="font-medium text-base text-bank-primary-2">
      {{ category }}
    </span>
  </section>
  <section class="flex items-center">
    <span
      class="font-medium text-base"
      [ngClass]="
        titleTransaction == 'Withdrawal' ? 'text-[#FE5C73]' : 'text-[#16DBAA]'
      "
      >${{ valueTransaction }}</span
    >
  </section>
  <section class="flex items-center">
    <a
      class="font-medium text-base text-bank-primary-2"
      [routerLink]="['/transactions', id]"
    >
      Ver detalles
    </a>
  </section>
</article>
