<a
  [routerLink]="['/transactions/all']"
  class="flex text-sm underline font-bold text-bank-primary-2 mt-6 mb-3"
>
  Regresar
</a>
<article
  class="flex flex-col items-center gap-7"
  *ngIf="transaction$ | async as transaction"
>
  <figure>
    <img src="assets/images/details.png" alt="" />
  </figure>
  <h2
    class="text-lg lg:text-2xl font-bold text-bank-primary-2 mb-3 text-center"
  >
    Detalle de tu transferencia
  </h2>
  <section
    class="flex flex-col rounded-2xl bg-white shadow-lg shadow-bank-primary-3/15 w-11/12 md:w-1/2 h-auto p-4 lg:p-6 gap-4"
  >
    <p class="text-base font-bold text-bank-black text-center">
      {{ transaction.date | date }}
    </p>
    <h3 class="text-base font-bold text-bank-black">
      {{ transaction.description }}
    </h3>
    <div class="flex flex-row justify-between border-b-2 border-dashed pb-3">
      <p class="text-base font-bold text-bank-black/70">Tipo</p>
      <p class="text-base font-bold text-bank-black">{{ transaction.type }}</p>
    </div>
    <div class="flex flex-row justify-between border-b-2 border-dashed pb-3">
      <p class="text-base font-bold text-bank-black/70">Cuenta que envía</p>
      <p class="text-base font-bold text-bank-black">
        {{ transaction.source }}
      </p>
    </div>
    <div
      class="flex flex-row justify-between border-b-2 border-dashed pb-3"
      *ngIf="transaction.type !== 'Withdrawal'"
    >
      <p class="text-base font-bold text-bank-black/70">Cuenta que recibe</p>
      <p class="text-base font-bold text-bank-black">
        {{ transaction.destination }}
      </p>
    </div>
    <div class="flex flex-row justify-between border-b-2 border-dashed pb-3">
      <p class="text-base font-bold text-bank-black/70">Categoría</p>
      <p class="text-base font-bold text-bank-black">
        {{ transaction.category }}
      </p>
    </div>
    <div class="flex flex-row justify-between border-b-2 border-dashed pb-5">
      <p class="text-base font-bold text-bank-black/70">
        Estado de la transferencia
      </p>
      <p class="text-base font-bold text-bank-black">
        {{ transaction.status }}
      </p>
    </div>
    <div class="flex flex-row justify-between border-b-2 border-dashed pb-3">
      <p class="text-base font-bold text-bank-black/70">Tu balance</p>
      <p class="text-base font-bold text-bank-black">
        ${{ transaction.balance | number : "1.1-2" }}
      </p>
    </div>
    <div
      class="flex flex-row items-center justify-between border-b-2 border-dashed pb-3"
    >
      <p class="uppercase text-xl font-bold text-bank-black">Monto enviado</p>
      <p class="text-2xl font-bold text-bank-black">
        ${{ transaction.amount }}
      </p>
    </div>
  </section>
</article>
