<article
  *ngIf="!isForTransaction"
  class="bg-white flex flex-row gap-3 xl:gap-4 items-center rounded-2xl w-40 h-24 xl:w-56 xl:h-28 py-5 px-4 xl:px-9"
>
  <figure
    class="rounded-full w-11 h-11 xl:w-16 xl:h-16 flex justify-center items-center"
    [style.background-color]="iconBackground"
  >
    <img class="w-5 h-5" [src]="iconUrl" alt="account-card" />
  </figure>
  <section>
    <p class="text-xs text-black/70">{{ title }}</p>
    <p class="text-base font-semibold">${{ value }}</p>
  </section>
</article>

<article
  *ngIf="isForTransaction"
  class="bg-white flex flex-row gap-1 xl:gap-5 items-center w-72 h-14 xl:w-80 xl:h-14"
>
  <figure
    class="rounded-2xl w-14 h-14 flex justify-center items-center"
    [style.background-color]="iconBackground"
  >
    <img class="w-5 h-5" [src]="iconUrl" alt="account-card" />
  </figure>
  <section class="grow flex flex-col gap-1 ml-3 xl:ml-0">
    <p class="text-sm xl:text-base font-semibold text-[#333B69]">{{ title }}</p>
    <p class="text-xs xl:text-sm text-[#718EBF]">{{ description }}</p>
  </section>
  <section *ngIf="withValue">
    <p class="text-xs xl:text-base font-semibold text-bank-primary-2">
      ${{ value }}
    </p>
  </section>
</article>
