<section class="lg:grow lg:order-1">
  <h2
    class="text-balance lg:text-2xl font-bold text-bank-primary-2 mt-6 mb-3 lg:mb-6"
  >
    Recent Transactions
  </h2>
  <div
    class="flex flex-col justify-center items-center lg:items-start gap-3 w-fit lg:w-3/4 mx-auto lg:mx-0"
  >
    <app-transaction-card
      class="lg:w-full"
      titleTransaction="Spotify Subscription"
      dateTransaction="28 Jan, 12.30 AM"
      valueTransaction="150"
      category="Tech"
      urlDetails="/transactions"
    >
    </app-transaction-card>
    <app-transaction-card
      class="lg:w-full"
      titleTransaction="Spotify Subscription"
      dateTransaction="28 Jan, 12.30 AM"
      valueTransaction="150"
      category="Tech"
      urlDetails="/transactions"
    >
    </app-transaction-card>
    <app-transaction-card
      class="lg:w-full"
      titleTransaction="Spotify Subscription"
      dateTransaction="28 Jan, 12.30 AM"
      valueTransaction="150"
      category="Tech"
      urlDetails="/transactions"
    >
    </app-transaction-card>
  </div>
</section>
